@use '../abstracts' as *;

.details-page {
    
    main {
        .hero-section {
            padding-top: 138px;
            padding-bottom: 60px;
            background: #666666;
            &-content {
                .hero-links {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 64px;
                    a {
                        color: #E6E6E6;
                        font-family: Montserrat600;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;   
                        &:hover {
                            color: #fff;
                        }                  
                    }
                    a:last-child {
                        margin-left: 8px;
                        color: #fff;
                    }
                }
                h1 {
                    max-width: 700px;
                    color: #FFF;
                    font-family: Rubik700;
                    font-size: 48px;
                    line-height: 63.984px;
                    font-weight: 300;    
                    margin-bottom: 24px;         
                }
                .hero-rating {
                    display: flex;
                    align-items: center; 
                    gap: 16px;
                    margin-bottom: 40px;
                    p {
                        color: #FFF;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;                     
                    }
                    div {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        h5 {
                            color: #E6E6E6;
                            font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 24px;                           
                        }
                    }
                }
                .hero-profile {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-bottom: 40px;
                    p {
                        color: white;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;                        
                    }
                }
                .hero-btnGroup {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    button:first-child {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 12px 32px;
                        background: $color-first;
                        border-radius: 8px; 
                        border: 1px solid $color-first;
                        color: #FFF;
                        font-family: Montserrat600;
                        font-size: 16px;
                        line-height: 32px;
                        transition: .3s;
                        cursor: pointer;
                        &:hover {
                            background: #FFF;
                            color: $color-first;
                            svg {
                                fill: $color-first;
                                transition: .3s all;
                            }
                        } 
                        svg {
                            fill: white;
                        }                
                    }
                    button:last-child {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 12px 32px;
                        background: #fff;
                        border-radius: 8px; 
                        color: $color-first !important;
                        font-family: Montserrat600;
                        font-size: 16px;
                        line-height: 32px;
                        transition: .3s;
                        cursor: pointer;
                        svg {
                            fill: white;
                        }                
                    }
                }
            }
        }
        .body-content {
            margin: 96px 0;
            display: flex;
            gap: 64px;
            justify-content: center;
            article {
                max-width: 728px;
                .learning-section {
                    h2 {
                        color: $color-second;
                        font-family: Rubik700;
                        font-size: 32px;
                        line-height: 48px; 
                        text-transform: capitalize;   
                        margin-bottom: 24px;                     
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 32px;
                        p {
                            color: #808080;
                            font-family: Montserrat;
                            font-size: 16px;
                            line-height: 27px;                          
                        }
                    }
                }
                .features-section {
                    margin: 96px 0;
                    h2 {
                        color: $color-second;
                        font-family: Rubik700;
                        font-size: 32px;
                        line-height: 48px; 
                        text-transform: capitalize;   
                        margin-bottom: 40px;                     
                    }
                    .features-cardBox {
                        border-radius: 8px; 
                        background: #FFF5F9;
                        padding: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        // justify-content: center;
                        gap: 46px;
                        .features-card {
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            div {
                                max-width: 283px;
                                display: flex;
                                align-items: start;
                                gap: 8px;
                                p {
                                    color: $color-second !important;
                                    font-family: Montserrat600;
                                    font-size: 14px;
                                    line-height: 24px; 
                                }
                                div {
                                    svg {
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }
                        }
                        .features-card:last-child {
                            div {
                                max-width: 300px;
                            }
                        }
                    }
                }
                .req-section {
                    margin-bottom: 96px;
                    h2 {
                        color: $color-second;
                        font-family: Rubik700;
                        font-size: 32px;
                        line-height: 48px; 
                        text-transform: capitalize;   
                        margin-bottom: 40px;                     
                    }
                    .req-cardBox {
                        border-radius: 5px; 
                        background: #FFF5F9;
                        padding: 40px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 46px;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        div {
                            display: flex;
                            align-items: start;
                            gap: 8px;
                            p {
                                color: $color-second !important;
                                font-family: Montserrat600;
                                font-size: 14px;
                                line-height: 24px; 
                            }
                        }
                    }
                }
                .modul-section {
                    margin-bottom: 96px;
                    .modul-title {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 40px;                     
                        h2 {
                            color: $color-second ;
                            font-family: Rubik700;
                            font-size: 32px;
                            line-height: 48px; 
                            text-transform: capitalize;   
                        }
                        p {
                            color: $color-second;
                            font-family: Montserrat700;
                            font-size: 16px;
                            line-height: 32px;                        
                        }
                    }
                    .modul-cardBox {
                        background: #FFF5F9;
                        padding: 24px 40px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            color: $color-second !important;
                            font-family: Montserrat700;
                            font-size: 16px;
                            line-height: 32px;                         
                        }
                    }
                    .modul-type {
                        padding: 40px;
                        border: 1px solid #E6E6E6;
                        background: #FFF;  
                        display: flex;
                        flex-direction: column;
                        gap: 32px;  
                        .modul-typeBox {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .modul-namePart {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                h4 {
                                    color: $color-second !important;
                                    font-family: Montserrat600;
                                    font-size: 16px;
                                    line-height: 32px;                         
                                }
                            } 
                            p {
                                color: #808080 !important;
                                font-family: Montserrat600;
                                font-size: 16px;
                                line-height: 32px;                                
                            }
                        }                 
                    }
                    .modul-btn {
                        margin-top: 40px;
                        padding: 24px 0;
                        width: 100%;
                        border-radius: 8px;
                        background: $color-first !important;     
                        color: #FFF !important;
                        border: 1px solid $color-first !important;
                        font-family: Montserrat600;
                        font-size: 16px;
                        line-height: 32px;     
                        cursor: pointer;
                        transition: .3s;
                        &:hover {
                            background: #FFF !important;
                            color: $color-first !important;
                        }                                      
                    }
                }
            }
            aside {
                max-width: 440px;
                height: 921px;
                width: 100%;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid $color-fifth;
                background: #FFF; 
                .aside-cardImg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 313px;
                    background: #666666;
                    svg {
                        cursor: pointer;
                    }
                }
                .aside-cardContainer {
                    max-width: 420px;
                    padding: 0 32px;
                    margin: 0 auto;
                }
                .aside-cardTitle {
                    margin: 24px 0;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    h3 {
                        color: $color-second !important;
                        font-family: Rubik700;
                        font-size: 32px;
                        line-height: 48px; 
                        font-weight: 300;
                        text-transform: capitalize;                        
                    }
                    p {
                        color: $color-fifth !important;
                        font-size: 24px;
                        line-height: 32px;      
                        text-decoration: line-through;               
                    }
                }
                .aside-cardLine {
                    max-width: 392px;
                    margin: 0 24px;
                    height: 1px;      
                    background: $color-second;              
                }
                .aside-cardOffer {
                    margin-top: 24px;
                    margin-bottom: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    p {
                        max-width: 180px;
                        color: $color-second !important;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;                         
                    }
                    button {
                        padding: 16px 20px;
                        border-radius: 8px;
                        background: #EF233C;
                        color: #FFF;
                        font-family: Rubik700;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 24px;                        
                    }
                }
                .aside-cardBenefits {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    gap: 24px;
                    p {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        color: $color-second !important;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        text-transform: capitalize;                        
                        svg {
                            padding: 4px;
                            border-radius: 50%;
                            background: #4586D6;
                        }
                    }
                    p:nth-child(4) {
                        width: 135px;
                    }
                }
                .aside-cardBtn {
                    margin: 40px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    button {
                        width: 100%;
                        padding: 24px 0;
                        border-radius: 8px; 
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        text-transform: capitalize; 
                        border: 1px solid $color-first;
                        cursor: pointer;
                        transition: .3s;                       
                    }
                    button:first-child {
                        background-color: $color-first;
                        color: #FFF;
                        &:hover {
                            background: #FFF !important;
                            color: $color-first !important;
                        }
                    }
                    button:last-child {
                        color: $color-first !important;
                        &:hover {
                            background: $color-first !important;
                            color: #FFF !important;
                        }
                    }
                }
            }
        }
        .mentor-section {
            margin-top: -96px;
            margin-bottom: 96px;
            &-content {
                h2 {
                    color: $color-second;
                    font-family: Rubik700;
                    font-size: 32px;
                    line-height: 48px;
                    text-transform: capitalize;  
                    margin-bottom: 40px;                  
                }
                .mentor-content {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 32px;
                    .mentor-left {
                        max-width: 297px;
                        width: 100%;
                        height: 320px;
                        border-radius: 8px;
                        background: $color-fifth;
                    }
                    .mentor-right {
                        max-width: 481px;
                        h3 {
                            color: $color-second;
                            font-family: Rubik700;
                            font-size: 32px;
                            line-height: 48px;
                            text-transform: capitalize; 
                            font-weight: 300;
                            margin-bottom: 8px;                           
                        }
                        h5 {
                            color: #808080;
                            font-family: Montserrat600;
                            font-size: 16px;
                            line-height: 32px;  
                            margin-bottom: 16px;                        
                        }
                        .mentor-rating {
                            display: flex;
                            align-items: center;    
                            gap: 16px;
                            margin-bottom: 24px;
                            p {
                                color: $color-second;
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 32px; 
                                margin: 0;                    
                            }
                            h5 {
                                color: #808080;
                                font-family: Montserrat600;
                                font-size: 14px;
                                line-height: 24px;  
                                margin-bottom: 0;                         
                            }
                        }
                        p {
                            color: #808080;
                            font-family: Montserrat;
                            font-size: 16px;
                            line-height: 27px;  
                            margin-bottom: 50px;                         
                        }
                        .mentor-info {
                            display: flex;
                            gap: 24px;
                            align-items: center;
                            p {
                                margin: 0;
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                color: #808080;
                                font-family: Montserrat600;
                                font-size: 16px;
                                line-height: 32px;                                
                            }
                        }
                    }
                }
            }
        }
        .feedback-section {
            margin-bottom: 96px;
            &-content {
                h2 {
                    color: $color-second;
                    font-family: Rubik700;
                    font-size: 32px;
                    line-height: 48px;
                    text-transform: capitalize;
                    font-weight: 300;      
                    margin-bottom: 24px;              
                }
                .feed-rating {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 24px;
                    .feed-left {
                        h3 {
                            color: $color-second;
                            font-family: Rubik700;
                            font-size: 48px;
                            line-height: 63.984px;    
                            margin-bottom: 8px;                         
                        }
                        p {
                            margin-top: 16px;
                            color: $color-second;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                            text-transform: capitalize;                            
                        }
                    }
                    .feed-right {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        gap: 8px;
                        div {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            gap: 16px;
                            p {
                                text-wrap: nowrap;
                                width: 91px;                              
                                margin-left: -8px;
                                color: $color-second;
                                font-family: Montserrat600;
                                font-size: 14px;
                                line-height: 24px;  
                            }
                        }
                    }
                }
            }
        }
        .review-section {
            margin-bottom: 96px;
            &-content {
                max-width: 816px;
                .review-title {
                    margin-bottom: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h2 {
                        color: $color-second;
                        font-family: Rubik700;
                        font-size: 32px;
                        line-height: 48px;
                        font-weight: 300;
                        text-transform: capitalize;                        
                    }
                    button {
                        padding: 16px 40px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background: $color-first !important;
                        border-radius: 8px;
                        border: 1px solid $color-first !important;
                        color: #FFF;
                        font-family: Montserrat600;
                        font-size: 16px;
                        line-height: 32px;       
                        cursor: pointer;
                        transition: .3s;              
                        svg {
                            fill: #fff;
                        }
                        &:hover {
                            background: #FFF !important;
                            color: $color-first !important;
                            svg {
                                fill: $color-first !important; 
                                transition: .3s;  
                            }
                        }
                    }
                }
                .review-cards {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    .review-card {
                        .review-card-profilePart {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 20px;
                            margin-bottom: 32px;
                            .review-card-profile {
                                display: flex;  
                                align-items: center;
                                gap: 24px;
                                .review-card-name {
                                    h3 {
                                        color: $color-second;
                                        font-size: 24px;
                                        font-weight: 600;
                                        line-height: 32px;
                                        margin-bottom: 8px;
                                    }
                                    svg {
                                        width: 152px;
                                        height: 24px;
                                    }
                                    p {
                                        margin-top: 6px;
                                        color: #808080;
                                        font-family: Montserrat600;
                                        font-size: 16px;
                                        line-height: 32px;                                  
                                    }
                                }
                            }
                            .review-card-profileLike {
                                display: flex;
                                align-items: center;
                                gap: 24px;
                                svg {
                                    cursor: pointer;
                                }
                            }
                        }
                        p {
                            color: #808080;
                            font-family: Montserrat;
                            font-size: 16px;
                            line-height: 27px;                             
                        }
                    }
                    .review-line {
                        width: 100%;
                        background: #AAA;
                        height: 1px;
                    }
                }
                .review-moreBtn {
                    margin-top: 40px;
                    padding: 24px;
                    width: 100%;
                    background: $color-first !important;
                    border-radius: 8px;
                    border: 1px solid $color-first !important;
                    color: #FFF;
                    font-family: Montserrat600;
                    font-size: 16px;
                    line-height: 32px;       
                    cursor: pointer;
                    transition: .3s;              
                    svg {
                        fill: #fff;
                    }
                    &:hover {
                        background: #FFF !important;
                        color: $color-first !important;
                        svg {
                            fill: $color-first !important; 
                            transition: .3s;  
                        }
                    }
                }
            }
        }
        .courses-section {
            margin-bottom: 160px;
            &-content {
                h2 {
                    color: $color-second;
                    font-family: Rubik700;
                    font-size: 32px;
                    font-weight: 300;
                    line-height: 48px; 
                    text-transform: capitalize; 
                    margin-bottom: 40px;                   
                }
                .courses-card-group {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                    .courses-card {
                        margin-top: 32px;
                        width: 295px;
                        padding: 16px;
                        cursor: pointer;
                        border-radius: 8px;
                        transition: .3s;
                        &-img {
                            width: 100%;
                            height: 208px;
                            background: $color-fifth;
                            border-radius: 4px;
                        }
                        .courses-card-img-bottom-container {
                            display: flex;
                            justify-content: center;
                            .courses-card-img-bottom {
                                display: inline-block;
                                padding: 4px 24px;
                                border-radius: 8px;
                                background: $color-seventh;
                                color: #FFF;
                                font-family: Montserrat600;
                                font-size: 12px;
                                line-height: 24px;
                                margin-top: -20px;
                                margin-bottom: 16px;
                            }
                        }
                        h3 {
                            color: $color-second;
                            font-variant-numeric: lining-nums proportional-nums;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                            text-transform: capitalize;
                            margin-bottom: 8px;
                        }
                        h4 {
                            color: var(--Primary-Pink, #F72585);
                            font-family: Montserrat600;
                            font-size: 12px;
                            line-height: 24px;
                            margin-bottom: 8px;
                        }
                        .courses-card-rating {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            margin-bottom: 16px;
                            p {
                                color: #808080;
                                font-family: Montserrat600;
                                font-size: 14px;
                                line-height: 24px;
                            }
                        }
                        .courses-card-pricing {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            p {
                                color: $color-fifth;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 27px;
                                text-decoration: line-through;
                            }
                            h5 {
                                color: $color-second;
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 32px;
                            }
                        }
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.09) 30px 30px 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1234px) {
    .details-page {
        main {
            .body-content {
                flex-direction: column;
                align-items: center;
                aside {
                    order: -1;
                }
            }
        }
    }
}

@media (max-width: 842px) {
    .details-page {
        main {
            .mentor-section {
                .mentor-content {
                    justify-content: center;
                    text-align: center;
                    .mentor-right {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 742px) {
    .details-page {
        main {
            .body-content {
                article {
                    .features-section {
                        .features-cardBox {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .details-page {
        main {
            .hero-section {
                .hero-links {
                    flex-wrap: wrap;
                    a {
                        font-size: 12px;
                        line-height: 16px;
                        margin-left: 0;
                    }
                }
                h1 {
                    font-size: 36px;
                    line-height: 38px;
                }
            }
            .feedback-section {
                &-content {
                    .feed-img:first-child {
                        max-width: 383px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 504px) {
    .details-page {
        main {
            .hero-section {
                h1 {
                    font-size: 32px;
                }
                .hero-rating {
                    flex-wrap: wrap;
                    gap: 8px;
                    p {
                        font-size: 16px;
                    }
                }
                .hero-profile {
                    p {
                        font-size: 16px;
                    }
                }
                .hero-btnGroup {
                    gap: 8px;
                    button:first-child {
                        gap: 10px;
                        padding: 8px 18px;
                        border: 1px solid $color-first;
                        font-size: 14px;
                        line-height: 32px;
                    }
                    button:last-child {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 8px 18px;
                        font-size: 14px;
                        line-height: 32px;
                    }
                }
            }
            .review-section {
                .review-card-profilePart {
                    .review-card-profile {
                        gap: 8px !important;
                        .review-card-name {
                            gap: 2px !important;
                            h3 {
                                font-size: 20px !important; 
                            }
                            svg {
                                width: 90px !important;
                            }
                            p {
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 406px) {
    .details-page {
        main {
            .body-content {
                aside {
                    height: 1020px;
                    .aside-cardOffer {
                        gap: 4px;
                        p {
                            font-size: 20px;
                        }
                        button {
                            padding: 10px 16px;
                        }
                    }
                    .aside-cardBenefits {
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                    }
                }
            }
        }
    }
}

@media (max-width: 386px) {
    .details-page {
        main {
            .hero-section {
                h1 {
                    font-size: 24px;
                }
            }
        }
    }
}